# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives**:
- List popular languages for Data Science
- The most common libraries in data science
- The most common tools in data science

# Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Seaborn
3. Scikit-Learn
4. NumPy

# Data Science tools

| Data Science Tools |
|---------------------|
| Anaconda |
| R studio |
| Jupyther notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
SARA PALENCIA PARRA